.search-form
    border-bottom 1px solid $gray

    .search-form__input
        display inline-block
        vertical-align middle
        width calc(100% - 18px)
        font-family $font_family
        font-size 13px
        color $gray
        border none

    .search-form__button
        display inline-block
        vertical-align middle
        padding 0
        background-color $white
        border none
        cursor pointer