.products
    position relative
    padding 25px 0

    .products__title
        margin 0 0 20px
        font-size 20px
        font-weight 700
        color $dark_blue

        &:after
            content ''
            display block
            width 65px
            height 4px
            margin 10px 0 0
            background-color $orange