.contact {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media (min-width: $medium-breakpoint) {
      width: 100%;
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: $primary;
    width: 100%;
    padding: 10px 20px;
    margin-top: 12px;
    margin-bottom: 12px;

    @media (min-width: $medium-breakpoint) {
      margin-top: unset;
      margin-bottom: unset;
    }
  }

  &__img {
    margin-right: 15px;
  }

  &__span {
    text-align: left;
  }

  &__city {
    font-weight: bold;
    font-size: 14px;
  }

  @media (min-width: $medium-breakpoint) {
    margin-left: unset;
    margin-right: unset;
    margin-top: 20px;
    padding: 0;
    width: auto;
  }
}