.credits {
  display: inline-flex;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  &__credit {
    font-style: normal;
  }

  &__small {
    display: block;
    margin-bottom: 5px;
  }

  // &__img {
  // }
}