doctype html
html(lang="pt")
	block head
		head
			block meta
				meta(charset="UTF-8")
				meta(name="viewport" content="width=device-width, initial-scale=1.0")
				meta(http-equiv="X-UA-Compatible" content="ie=edge")
			block title	
				title Profit-e teste
			block style-resource
				link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap")
				link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
			block style
				link(type="text/css" rel="stylesheet" href="./assets/style/css/main.css")
	block body
		body
			block wrap 
			div(class="bl-wrap")
				block header
					header(class="bl-header")
						div(class="bc-bar")
							section(class="bc-brand")
								a(class="bc-brand__link" href="#")
									img(class="bc-brand__logo" src="" alt="Profit-e" title="Profit-e logo")
							section(class="bc-search")
								form(class="bc-search__form" method="POST" action="/")
									div(class="bc-search__field")
										label(class="bc-search__label" for="search")
										input(class="bc-search__controller" id="search" type="text" placeholder="o que está procurando?" )
										i(class="bc-search__ico  material-icons") search
							section(class="bc-signin")
								a(class="bc-signin__link" href="#")
									i(class="bc-signin__ico  material-icons") account_circle
									span(class="bc-signin__label") Minha conta
							section(class="bc-cart")
								i(class="bc-cart__ico  material-icons") shopping_cart
								span(class="bc-cart__counter") 1
							section(class="bc-lang")
								ul(class="bc-lang__list")
								- const lang_collection = [{type:'pt'}, {type:'es'}, {type:'gb'}]
									each item,ind in lang_collection
										li(class="bc-lang__list")
											a(class="bc-lang__link")
												img(class="bc-lang__ico" src=`./assets/media/image/icon/flag__${item.type}.png` height="21" alt=`idioma ${item.type}` title="idioma do site")
