
/*component HeaderNav*/
$header-height: 60px;
$align-middle: middle !important;
$border-none: none;
$border-bottom: 1px solid;
$bottom: 55px;
$input-width: 220px;
$display-input: inline-block;
$relative: relative;
$absolute: absolute;
$header-auto: 0 auto;
$header-left: 50px;
$header-left-logo: 200px;
$header-left-cart: 200px;
$top: 20px;

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
        src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
        src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
              url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
              url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
              url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
              url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

#header{
  margin: $header-auto;
}

#logo {
  margin-left: $header-left-logo;
}

#search {
  margin-left: $header-left;
}

#userIcon {
  margin-left: $header-left;
  position: $absolute;
  margin-top: 20px;
}

#userCart {
  margin-left: $header-left-cart;
  position: $absolute;
  margin-top: 20px;
}

  .input-align {
    vertical-align: $align-middle;
    border: $border-none;
    border-bottom: $border-bottom;
    margin-bottom: $bottom;
    width: $input-width;
  }

  .input-wrapper {
    display: $display-input;
    position: $relative;
    margin-top: $top;
  }
  .input-wrapper:after {
    font-family: 'FontAwesome';
    content: '';
    position: $absolute;
    left: 260px;
  }


  .input-wrapper-user {
    display: $display-input;
    position: $relative;
  }
  .input-wrapper-user:before {
    font-family: 'FontAwesome';
    content: '';
    position: $absolute;
    right: 100px;
  }


  .input-wrapper-cart {
    display: $display-input;
    position: $relative;
  }
  .input-wrapper-cart:before {
    font-family: 'FontAwesome';
    content: '';
    position: $absolute;
    right: 30px;
  }

  .circle{
    border-radius:100%;
    width:12px;
    height:12px;
    background-color: #23a9dd;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
}

  .header-height {
    height: $header-height;
  }

  .margin-bandeiras {
    margin-top: $top;
  }

 /*MainContent*/
/* Slideshow container */
.slideshow-container {
  // max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
