.buy {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  &__button {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 8px 15px;
    background-color: $secondary;
    border-radius: 6px;
  }

  &__img {
    margin-right: 8px;
  }

  &__span {
    font-size: 16px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}