.buy {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__button {
    margin-top: 5px;
    background-color: $secondary;
    width: 100%;
    padding: 8px 15px;
    transition: background-color 0.333s ease;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($secondary, 12.5%);
    }
  }

  &__img {
    margin-right: 8px;
  }

  &__span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}