.buy {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__button {
    margin-top: 5px;
    background-color: $secondary;
    width: 100%;
    padding: 8px 15px;
    transition: background-color 0.333s ease;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      background-color: darken($secondary, 12.5%);
    }

    @media (min-width: $medium-breakpoint) {
      opacity: 0;
      transition: opacity, background-color 0.333s ease;
  
      &:hover,
      &:focus,
      &:active {
        opacity: 1;
      }
    }
  }

  &__icon {
    display: inline-flex;
    margin-right: 8px;
  }

  &__span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}