.product {
  &__link {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
      outline: 0;

      .product__info {
        background-color: $light-gray;
      }

      .product__img {
        transform: translateY(-10px);
      }

      .buy__button {
        @media (min-width: $medium-breakpoint) {
          animation-duration: 0.5s;
          animation-name: fade-in, slide-in-bottom;
          animation-timing-function: ease;
          opacity: 1;
        }
      }
    }
  }

  &__info {
    max-width: 181px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    transition: background-color 0.333s ease;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      right: 0;
    }

    &:before {
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 30px;
      border-right-color: $primary;
      border-top-color: $primary;
      border-radius: 0 4px 0 0;
    }
    
    &:after {
      content: 'OFF';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      color: $white;
      font-weight: 500;
    }

    @media (min-width: $medium-breakpoint) {
      padding: 30px 15px 15px;
      border-radius: 4px;
    }
  }

  &__figure {
    margin: 0;
  }

  &__img {
    width: 100%;
    height: auto;
    transition: transform 0.333s ease;
  }

  &__heading {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__old-price {
    display: block;
  }

  &__price {
    display: block;
    font-size: 18px;
    color: $secondary;
    font-weight: 500;
    padding: 5px 0;
  }

  &__instalments {
    display: block;
  } 
}