.shelf {
  padding-top: 15px;
  padding-bottom: 40px;

  &__heading {
    margin: 0;
    color: $tertiary;

    &:after {
      @include yellow-bar(10px, 10px, 10px);
    }
  }

  &__slider {
    margin-top: 30px;
  }

  &__product {
    max-width: 181px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &:hover {
      background-color: $light-gray;
    }

    @media (min-width: $medium-breakpoint) {
      padding: 30px 15px 15px;
      border-radius: 4px;
    }
  }

  &__figure {
    margin: 0;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__product-heading {
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__old-price {
    display: block;
  }

  &__price {
    font-size: 18px;
    color: $secondary;
    font-weight: bold;
  }

  &__instalments {
    display: block;
  }
}

.shelf .slick-slider {
  .slick-list {
    @include container(0, 40px);
  }

  .slick-dots {
    height: 20px;
    bottom: -30px;
  }

  .slick-prev:before {
    background-image: url('./assets/img/shelf/arrow-left.svg');
  }

  .slick-next:before {
    background-image: url('./assets/img/shelf/arrow-right.svg');
  }
}