.product
    position relative
    display inline-block
    vertical-align top
    font-size 14px
    text-align center

    .product__flag
        position absolute
        top 0
        right 0
        width 65px

    .product__image
        display inline-block
        width 100%
        max-width 200px
        height auto
        margin 25px 0 0
    
    .product__name
        margin 15px 0 10px
        font-size 14px
        font-weight normal
        color $gray
        text-transform uppercase
    
    .product__price
        margin 0
        font-size 18px
        font-weight 700
        color $green

        &.product__price--old
            font-size 12px
            font-weight normal
            color $gray
            text-decoration line-through
        
        &.product__price--installments
            font-size 11px
            font-weight normal
            color $gray
    
    .product__button
        display inline-block
        margin 10px 0 15px
        padding 5px 10px
        font-size 14px
        color $white
        text-transform uppercase
        background-color $green
        border-radius 5px
        cursor pointer
        opacity 0

        img
            margin-right 5px

        img
        span
            display inline-block
            vertical-align middle
    
    &:hover
        background-color $extra_light_gray

        .product__button
            opacity 1