.address
    .address__item
        display inline-block
        vertical-align top
        width 50%
        color $white

        h6
            margin 0
            font-size 14px

        p
            margin 0
            font-size 12px

+above(940px)
    .address
        .address__item
            margin-right 40px
            width auto

            h6
                font-size 16px
            
            p
                font-size 14px
            
            &:last-child
                margin-right 0