@keyframes slide-in-right {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slide-out-left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoom-left {
  from {
    right: -5%;
  }

  to {
    right: 0;
  }
}

@keyframes stretch-x {
  0% {
    transform: scaleX(0);
  }

  65% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes banner-heading {
  from {
    top: 45px;
  }

  to {
    top: 0;
  }
}