*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button {
  color: $dark-gray;
}

button {
  border: 0 none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}