// Breakpoints
$medium-breakpoint: 800px;
$large-breakpoint: 1200px;

// Colors
$primary: #FF9F1C;
$secondary: #2EC4B6;
$tertiary: #011627;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$medium-gray: #BDBDBD;
$dark-gray: #7A7A7A;
$black: #000000;