.account {
  width: 100%;

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: $light-gray;
    border-radius: 5px;

    @media (min-width: $medium-breakpoint) {
      @include header-y();
      background-color: transparent;
      border-radius: unset;
      width: auto;
    }
  }

  &__img {
    margin-right: 5px;
  }

  @media (min-width: $medium-breakpoint) {
    display: inline-flex;
    justify-content: flex-end;
    order: 2;
    flex: 1 1 auto;
    width: auto;
    margin-top: 0;
  }
}