.account {
  width: 100%;

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: $light-gray;
    border-radius: 5px;

    @media (min-width: $desktop-breakpoint) {
      @include header-y();
      background-color: transparent;
      border-radius: unset;
      width: auto;
    }
  }

  &__img {
    margin-right: 5px;
  }

  @media (min-width: $desktop-breakpoint) {
    display: inline-flex;
    width: auto;
    margin-top: 0;
    border-right: 1px solid $dark-gray;
  }
}