.cart {
  display: inline-flex;

  &__button {
    display: flex;
    align-items: center;
    @include header-y();
  }

  &__img {
    margin-right: 5px;
  }

  &__label {
    width: 16px;
    height: 16px;
    font-size: 0.65rem;
    background-color: $secondary;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-span {
      color: $white;
    }
  }

  @media (min-width: $medium-breakpoint) {
    order: 2;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding-right: 10px;
  }
}