.cart {
  display: inline-flex;
  @include header-top();

  &__button {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 5px;
  }

  &__label {
    width: 16px;
    height: 16px;
    font-size: 11px;
    background-color: $secondary;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-span {
      color: $white;
      line-height: 1;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    order: 2;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}