.language {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  
  &__link {
    display: flex;
  }

  @media (min-width: $desktop-breakpoint) {
    display: inline-flex;
    flex: 3 1 auto;
    width: auto;
    @include header-top();
  }
}