.search {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;

  &__input {
    border: 0 none;
    width: 100%;
    background: url('./assets/img/header/search.svg') center right scroll no-repeat transparent;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 22px;
    border-bottom: 1px solid $dark-gray;
    transition: border 0.333s;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      border-bottom-color: $primary;
    }

    @media (min-width: $medium-breakpoint) {
      padding-top: 4px;
    }
  }

  @media (min-width: $medium-breakpoint) {
    display: inline-flex;
    order: 1;
    flex: 3 1 auto;
    width: auto;
  }
}