.search {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  @include header-top();
  padding-top: 0;

  &__input {
    border: 0 none;
    width: 100%;
  }

  &__button {
    display: flex;
    padding-left: 4px;
  }

  &__input,
  &__button {
    padding-bottom: 4px;
    border-bottom: 1px solid $dark-gray;
  }

  @media (min-width: $desktop-breakpoint) {
    display: inline-flex;
    order: 1;
    flex: 3 1 auto;
    width: auto;
  }
}