@font-face {
    font-family: ubuntu;
    src: url(../../fonts/Ubuntu-C.ttf);
  }

  @font-face {
    font-family: ubuntu-b;
    src: url(../../fonts/Ubuntu-B.ttf);
  }

  
  @font-face {
    font-family: ubuntu-l;
    src: url(../../fonts/Ubuntu-L.ttf);
  }