@font-face {
  font-family: 'OpenSans';
  src: url("../sass/modules/fontes/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../sass/modules/fontes/RobotoSlab-Regular.ttf");
}