$max_width = 1240px

$font_family = 'Ubuntu', serif
$font_weight = 400
$font_size = 14px

$white = #ffffff
$black = #000000

$gray = #7A7A7A
$light_gray = #BDBDBD
$extra_light_gray = #F2F2F2

$dark_blue = #011627
$orange = #FF9F1C
$green = #2EC4B6