@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i");
* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body header {
  width: calc(100% - 470px);
  margin: 15px auto;
}

body header .row div {
  display: inline-block;
}

body header .row .logo {
  width: 25%;
}

body header .row .logo img {
  vertical-align: bottom;
}

body header .row .search {
  width: 49%;
}

body header .row .search input {
  border: unset;
  border-bottom: 1px solid #7A7A7A;
}

body header .row .search input:first-child {
  width: 100%;
  max-width: 450px;
}

body header .row .search input[type="button"] {
  background: url(../imgs/search.png) no-repeat;
  border: none;
  color: transparent;
  width: 18px;
  position: relative;
  bottom: 9px;
  right: 26px;
}

body header .row .login {
  width: 9%;
}

body header .row .login a {
  color: #000;
  text-decoration: none;
}

body header .row .login a svg {
  position: relative;
  top: 3px;
}

body header .row .cart {
  width: 4%;
}

body header .row .cart svg {
  position: relative;
  top: 3px;
}

body header .row .cart .amount {
  background: #2EC4B6;
  border-radius: 50px;
  padding: 3px 8px;
  color: #fff;
}

body header .row .line-h img {
  position: relative;
  top: 8px;
}

body header .row .language div {
  margin-right: 5px;
}

body header .row .language div svg {
  position: relative;
  top: 3px;
}

body .mobile {
  display: none;
}

body .desk .boxbanner img {
  width: 100%;
  height: auto;
}

body .desk .slick-arrow {
  position: absolute;
  top: 210px;
  border: none;
  height: 22px;
  color: transparent;
}

body .desk .slick-next {
  right: 10%;
  background: url(../imgs/next-w.png) no-repeat;
}

body .desk .slick-prev {
  z-index: 10;
  left: 10%;
  background: url(../imgs/back-w.png) no-repeat;
}

body .desk .slick-dots {
  list-style: none;
  position: absolute;
  top: 390px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: unset;
}

body .desk .slick-dots li {
  display: inline-block;
  margin-right: 5px;
}

body .desk .slick-dots li.slick-active button {
  background: #FF9F1C;
  border: #FF9F1C;
}

body .desk .slick-dots li button {
  border-radius: 40px;
  color: transparent;
  background: #BDBDBD;
  border: #BDBDBD;
  height: 12px;
  width: 7px;
}

body .vitrine {
  padding: 5px;
  width: calc(100% - 470px);
  margin: 0 auto;
}

body .vitrine .title {
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
}

body .vitrine .line {
  border: 3.5018px solid #FF9F1C;
  width: 32.5px;
  margin-left: 20px;
  margin-bottom: 20px;
}

body .vitrine .prateleira .prod {
  width: 46%;
  text-align: center;
  padding: 5px;
  display: inline-block;
  height: 300px;
  padding: 0 66px;
}

body .vitrine .prateleira .prod:hover {
  background: #F2F2F2;
}

body .vitrine .prateleira .prod:hover .btn-buy {
  display: block;
}

body .vitrine .prateleira .prod .prod-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .prod-img img {
  margin: 0 auto;
  display: block;
}

body .vitrine .prateleira .prod .prod-flag span {
  position: absolute;
  top: 0;
  margin-left: 49px;
}

body .vitrine .prateleira .prod .prod-name {
  font-size: 10px;
  font-weight: 500;
  color: #7A7A7A;
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .prod-rating {
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .prod-rating img {
  margin: 0 auto;
}

body .vitrine .prateleira .prod .prod-info .de {
  font-size: 11px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #7A7A7A;
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .prod-info .por {
  font-size: 16px;
  color: #2EC4B6;
  font-weight: 500;
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .prod-info .parc {
  font-size: 11px;
  color: #7A7A7A;
  margin-bottom: 10px;
}

body .vitrine .prateleira .prod .btn-buy {
  background: #2EC4B6;
  border-radius: 5.56992px;
  width: 100%;
  height: 36px;
  display: none;
}

body .vitrine .prateleira .prod .btn-buy a {
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: unset;
}

body .vitrine .prateleira .prod .btn-buy a svg {
  position: relative;
  top: 5px;
}

body .vitrine .prateleira .prod .btn-buy a:hover {
  text-decoration: unset;
}

body .vitrine .prateleira .slick-arrow {
  position: absolute;
  top: 100px;
  border: none;
  height: 22px;
  color: transparent;
}

body .vitrine .prateleira .slick-next {
  right: -4%;
  background: url(../imgs/next-b.png) no-repeat;
}

body .vitrine .prateleira .slick-prev {
  z-index: 10;
  left: -4%;
  background: url(../imgs/back-b.png) no-repeat;
}

body .vitrine .prateleira .slick-dots {
  list-style: none;
  position: relative;
  left: 91%;
  -webkit-transform: translateX(-47%);
          transform: translateX(-47%);
}

body .vitrine .prateleira .slick-dots li {
  display: inline-block;
  margin-right: 5px;
}

body .vitrine .prateleira .slick-dots li.slick-active button {
  background: #FF9F1C;
  border: #FF9F1C;
}

body .vitrine .prateleira .slick-dots li button {
  border-radius: 40px;
  color: transparent;
  background: #BDBDBD;
  border: #BDBDBD;
  height: 12px;
  width: 7px;
}

body footer {
  padding: 20px;
  background: #011627;
  border-bottom: 5px solid #2EC4B6;
  color: #fff;
}

body footer .info-footer {
  width: calc(100% - 470px);
  margin: 0 auto;
}

body footer .info-footer h2 {
  font-size: 17.509px;
}

body footer .info-footer .line {
  border: 3.5018px solid #FF9F1C;
  width: 32.5px;
}

body footer .info-footer .location {
  width: 15%;
  font-size: 14px;
  display: inline-block;
}

body footer .info-footer .location .title {
  font-weight: 600;
}

body footer .info-footer .contato {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}

body footer .info-footer .contato .button {
  width: 198px;
  height: 38.6px;
  background: #FF9F1C;
  margin-bottom: 20px;
  border-radius: 5.0782px;
}

body footer .info-footer .contato .button:nth-child(2) .icon {
  display: inline-block;
  height: 38.6px;
  line-height: 38.6px;
}

body footer .info-footer .contato .button:nth-child(2) span {
  display: inline-block;
  text-align: right;
  line-height: 13px;
  padding-top: 6px;
}

body footer .info-footer .contato .button:nth-child(2) a {
  line-height: 10px;
}

body footer .info-footer .contato .button a {
  line-height: 38.6px;
  padding-left: 10px;
  color: #fff;
  text-decoration: unset;
}

body footer .info-footer .selos {
  display: inline-block;
  width: 14%;
}

body footer .info-footer .selos div {
  display: inline-block;
  width: 49%;
}

body footer .info-footer .selos img {
  display: block;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
/*# sourceMappingURL=style-desk.css.map */