.product-slider-nav
    position absolute
    top 50%
    left 50%
    width 100%
    max-width $max_width
    z-index 11
    transform translate(-50%, -50%)

    .product-slider-nav__prev
        position absolute
        top 0
        left 0

        svg
            fill $dark_blue

    .product-slider-nav__next
        position absolute
        top 0
        right 0

        svg
            fill $dark_blue