.footer-brands
    font-size 12px

    li
        display inline-block
        vertical-align bottom
        margin-left 15px

        span
            display block
            font-size 10px
            color $white
            text-align left

        img
            display inline-block