.address-info
    display flex
    color #626262
    font-size .9em
    > .icon-rj
        &::after
            content url('../../images/footer/icone_rj.png')
    > .icon-sp
        &::after
            content url('../../images/footer/icone_sp.png')
    > .infosgroup
        margin-top .4em
        margin-left .4em
    .item
        margin-top .6em
    .phone
        color #000
        font-weight bold