.btn-buy
    background #121212
    background-image linear-gradient(#212121, #121212)
    color #fff
    border 1px solid #323232
    outline 1px solid #141414
    display flex
    margin 0 auto
    align-items center
    margin-top 1em
    text-transform uppercase
    font-size .9em
    padding .2em .5em
    &::before
        content url(../../images/products/carrinho.png)
        display inline-block
        margin-right .3em
