.button-footer
    display flex
    align-items center
    background #fbc436
    color #000
    text-decoration none
    margin-top .5em
    font-size .71em
    min-height 3.3em
    padding-left 1em
    text-transform uppercase
    width 14.9em
    > .ico-consultor
        display block
        margin-right .6em
        &::after
            content url('../../images/footer/icone_consultor.png')
            display inline-block
    > .ico-contato
        display block
        margin-right .6em
        &::after
            content url('../../images/footer/icone_contato.png')
            display inline-block