.flags-list
    text-align center
    margin 0
    padding-left 0
    > .item
        display inline-block
        margin-left .6em
    .flag
        background url('../../images/header/bandeiras.png') no-repeat 0 0
        width 25px
        height 17px
        display block
        &.flag-1
            background-position 0 0
        &.flag-2
            background-position -34px 0
        &.flag-3
            background-position -68px 0