.hello-visitant
    margin-left: 2.1em;
    margin-right: 2.4em;
    & > .title
        font-size 1.3em
    & > .signuplogin > .link
        font-size .9em
        color #000
        text-decoration none