.skype-number
    display flex
    align-items center
    text-align right
    color #01aef0
    text-align right
    &::before
        content url('../../images/header/skype.png')
    > .number
        margin-left .3em