.footer-menu
    margin 0
    font-size 12px

    li
        margin 0 0 25px

        a
            display block
            max-width 195px
            margin 0 auto
            padding 10px 15px
            font-size 12px
            line-height 14px
            color $white
            text-transform uppercase
            background-color $orange
            border-radius 5px

            svg
                margin-right 10px
            
            span
                max-width 130px

            svg
            span
                display inline-block
                vertical-align middle
        
        &:last-child
            margin 0