.main_banner
  background-color: $yellow

  &-container
    +container

  .slick-track
    display: flex

  .slick-dots
    bottom: 0

    li 
      button:before 
        width: rem(12)
        height: rem(12)
        border-radius: 50%
        content: ''
        text-align: center
        background-color: lighten($gray, 40%)
        transition: background 0.2s ease
        opacity: 1

      &.slick-active
        button:before
          background-color: $white 
          opacity: 1
  
  .responsive-image
    width: 100%
    text-align: center
    
    picture
      img
        width: 100%
        display: block
      