.search
  position: relative
  flex-basis: 35%
  height: rem(30)
  
  &-button
    background-color: $black
    border: none
    border-radius: rem(8)
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: rem(45)
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    
    img
      width: rem(20)
      height: rem(20)
  
  &-input
    background-color: $yellow
    border: none
    border-radius: rem(8)
    display: block
    width: 100%
    height: 100%
    padding-left: rem(50)

