.welcome
  &-title
    font-size: rem(20)
  
  &-links
    display: flex
    font-size: rem(14)

    li
      &:first-child
        &:after
          content: '–'
          display: inline-block
          margin: 0 rem(7)

      a
        color: $black
        text-decoration: none

        &:hover,
        &:active,
        &:focus
          text-decoration: none
          color: black