@font-face {
	font-family: 'arialbd';
	src: url('../assets/fonts/arialbd.eot');
	src: url('../assets/fonts/arialbd.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/arialbd.woff') format('woff'),
		url('../assets/fonts/arialbd.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'arial';
	src: url('../assets/fonts/arial.eot');
	src: url('../assets/fonts/arial.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/arial.woff') format('woff'),
		url('../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
