$featureFont: 'arialbd', Arial, sans-serif;
$regularFont: 'arial', Arial, sans-serif;


$black: #000000;
$white: #ffffff;
$yellow: #ffc51c;
$font-color-footer: #838383;
$font-color-default: #081616;
$font-color-gray: #707072;
$azul-link: #00aff0;
$border-slide: #e1e1e1;

// Grid

$c12: 100%;
$c11: 91.66666667%;
$c10: 83.33333333%;
$c9: 75%;
$c8: 66.66666667%;
$c7: 58.33333333%;
$c6: 50%;
$c5: 41.66666667%;
$c4: 33.33333333%;
$c3: 25%;
$c2: 16.66666667%;
$c1: 8.33333333%;