block bc-adderss
address(class="bc-address")
	header(class="bc-address__heading")
		h3(class="bc-address__title") Localização
	div(class="bc-address__body")
		section(class="bc-address__section")
			h4(class="bc-address__title") São Paulo
			p(class="bc-address__paragraph")
			|Rua do Rócio, 423/1801
			|Vila Olímpia - SP
			|04552-000
			p(class="bc-address__paragraph") +55 11 3333 3333
		section(class="bc-address__section")
			h4(class="bc-address__title") Rio de Janeiro
			p(class="bc-address__paragraph")
			|Vol. da Pátria, 301/702
			|Botafogo - RJ
			|22270-000
			p(class="bc-address__paragraph") +55 21 3333 3333