block bc-copyright
section(class="bc-copyright")
	section(class="bc-copyright__section")
		a(class="bc-copyright__link")
			h5(class="bc-copyright__title") Created by
			img(class="bc-copyright__image" src="./assets/media/image/logo-profite__negative.png" alt="Profit-e" title="Profit-e logo")
	section(class="bc-copyright__section")
		a(class="bc-copyright__link")
			h5(class="bc-copyright__title") Powered by
			img(class="bc-copyright__image" src="./assets/media/image/logo-vtex__negative.png" alt="Vtex" title="Vtex logo")