block bc-featured__prod
article(class="bc-featured  bc-prod")
	ul(class="bc-featured__list  bc-prod__list")
		li(class="bc-featured__item  bc-prod__item" id="prod-n")
			a(class="bc-featured__link  bc-prod__link" href="#prod")
				img(class="bc-featured__image  bc-prod__image" src="./assets/media/image/prod/prod_1.png" alt="imagem do produto" title="Tênis couro puma R698 Q4 V2")
			h2(class="bc-featured__title  bc-prod__title") Tênis couro puma R698 Q4 V2
			div(class="bc-prod__rating") Rating
			div(class="bc-prod__price")
				p(class="bc-prod__price_off") de R$ 399,00
				p(class="bc-prod__price_on") por R$ 299,00 
					| ou em 3x de R$ 99,66
			div(class="bc-prod__call-to-action")
				button(class="bc-btn  bc-prod__call-to-action" type="button" value="comprar") comprar