block bc-hero
div(class="bc-hero")
	div(class="bc-hero__heading")
		h2(class="bc-hero__title") Nossa especialidade: experiência de compra
	pitcture(class="bc-hero__container-image")
		source(class="bc-hero__source-image" src="./assets/media/image/hero__banner_p1.png" media="")
		img(class="bc-hero__image" src="./assets/media/image/hero__banner_p1.png")