@import "../shared";

.slideShow {
  position: relative;

  &__slide {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__prev {
    display: block;
    width: 22px;
    height: 22px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: red;
  }

  &__next {
    display: block;
    width: 22px;
    height: 22px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: red;
  }

  &__dots {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 8;

    a {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin: 5px;
      background-color: $color-light;
      cursor: pointer;

      &.active,
      &:hover {
        background-color: $color-lighter;
      }
    }


    @media (max-width: $breakpoints-medium) {
      display: none;
    }
  }
}

/* Fading animation */
@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
