body, html {
    height: 100%;
    width: 100%;    
}

header, section, footer{
	width:100%;
	text-align: center;
	
}

@font-face {
	font-family: "ArialCustom";
	src: url("/teste-profite/public/css/fonte/arial.ttf");
}

@font-face {
	font-family: "ArialCustom";
	src: url("/teste-profite/public/css/fonte/arialbd.ttf");
	font-weight: bold;
}

body {
	font-family: "ArialCustom";
}

div#wrapper{
	width: 100%; 
	height: 100%; 		
}

.clearfix:after { 
   content: " ";
   display: flex; 
   height: 0; 
   clear: both;
}

.left{ float:left; }
.clear{ float: clear; }

#templateProduto{
	display: none;
}