.normalWidth{
	width: 100%;
}

/*begin produto*/
.produto{
	display: table-cell;			
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2px;
	padding-right: 2px;
}	

.produto:hover{
	background-color: #FAC437;
}

.produto > .imgProduto{
	max-width: 100px
}	

.produto > .imgProduto:hover{
	cursor: pointer;
}

.produto > .descProduto{
	font-weight: bold;
}

.produto >.precoProduto{
	margin-bottom: 0;
}

.produto >.parcProduto{
	margin-top: 0;
}

.produto > span{
	display: block;
	border: 1px solid grey;
	padding: 2 2 2 2;
	margin: 2px 2px 2px 2px;	
	margin-bottom: 0;	
}

.produto >.btnComprarProduto{
	background-color: black;
	margin-left: 10px;
	margin-right: 10px;	
}

.produto >.btnComprarProduto{
	padding-top:5px ;
	padding-bottom:5px
}

.produto >.btnComprarProduto > img{	
	max-width: 15px;
	background-color: transparent;
}

.produto >.btnComprarProduto > span{	
	color: white;
	margin-bottom: 0;
}

.btnComprarProduto:hover{
	cursor: pointer;
}

.produto > span{
	display: block;
	border: 1px solid #8c8c8c;
	background-color: #f2f2f2;
	padding: 2 2 2 2;
	margin: 2px 2px 2px 2px;	
	margin-bottom: 0;	
	font-size: small;
}	

.btnBackground{
	background-color: #FAC437;
	width: 250px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
}

.btnBackground:hover{
	cursor:pointer;
}

#divProdutos{
	margin-top: 10px;
}	
/*end produto*/

/*começo banner*/

#secBanner{
	width: 100%;
}

#imgBanner{
	width: 100%;	
}
/*fim banner*/


/*começo footer*/
footer{	    
    height: 200px;
    background-color: #ccc;
}

footer > div{		
	display: inline-table;
}

footer .divEnderecos >  img{
	float: left;
}

.btnBackground > img{
	float: left;
}

footer  .divEnderecos{
	display: table-cell;	
	padding: 10px;
}

footer .divEnderecos > div{	
	padding-left: 10px;
	margin: 4px;		
	text-align: center;
	vertical-align: center;
}
/*fim footer*/

/*começo slider*/
.bx-controls-direction{
	display: none;
}


.bx-pager{		
	display: inline-block;
}

.bx-pager-link{
	text-indent: -9999px;
    background-color: #b3b3b3;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 5px;
    outline: 0;
    border-radius: 5px;    
}


.bx-pager-link.active{
	background-color: #000;
}

.bx-pager > .bx-pager-item{
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
}
/*fim slider*/


@media (max-width: 700px) {
	footer {
		height: unset;
	}

	footer .divEnderecos{
		display: inline-block;
	}

	.produto{
		display: block;
	}

	#logo{
		float: left;
	}
}
