$color-1: #008ED1;
$color-2: #7A7A7A;
$color-3: #FF9F1C;
$color-4: #2EC4B6; 
$color-5: #011627;
$color-6: #F2F2F2;
$color-7: #BDBDBD;
$text-color-1: #111111; 
$white:   #fff;
$black:   #000;
