.side-info{
	margin-top: 10px;
}

.bandeiras{
	float: right;
	padding: 0 10px 0 0;
	img{
		margin: 12px 0 0;
		width: 30px;
		padding: 0 3px;
		border-radius: 4px;
		float: right;
	}
}

.tel{
	font-size: 17.5px;
	color: #44c0ed;
	margin-top: 2px;
	padding: 0 4px;
	font-family: 'RobotoSlab';
	float: right;
	+ img{
		float: right;
	}
}

#skype{
	margin-top: 34px;
}