.language-menu
    display none

+above(940px)
    .language-menu
        display inline-block
        vertical-align middle
        margin-left 20px
        padding-left 20px
        border-left 1px solid $gray

        li
            display inline-block
            vertical-align middle
            margin-right 20px

            &:last-child
                margin-right 0