=above($width)
  @media screen and (min-width: $width)
    @content

=below($width)
  @media screen and (max-width: $width)
    @content

=between($min_width, $max_width)
  @media screen and (min-width: $min_width) and (max-width: $max_width)
    @content

=container 
  width: 100%
  max-width: rem(1040)
  padding: 0 rem(25) 
  margin: auto

  +below($screen-small)
    padding: 0 rem(30)
