.footer {
    background: #011627;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    font-family: $font;
    padding: 2% 0;
    border-bottom: 10px solid #2EC4B6;
    .centralize {
        display: flex;
        .location {
            width: 40%;
            .title {
                height: 28px;
                margin-bottom: 7%;
                h1 {
                    height: inherit;
                    font-size: 20px;
                    font-weight: bold;
                    &:after {
                        content: '';
                        display: block;
                        width: 10%;
                        border: 5px solid #FF9F1C;
                        margin-top: 14px;
                    }
                }
                
            }
            .location-state {
                display: flex;
                .first-state {
                    margin-right: 14%;
                }
                ul {
                    padding: 0;
                    list-style: none;
                    li {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                        font-family: $font;
                    }
                }
            }
        }
        .btn-contacts {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .btn {
                width: 55%;
                height: 38px;
                background: #FF9F1C;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                svg {
                    margin-right: 6%;
                }
                span {
                    font-family: $font;
                    font-weight: 500;
                    font-size: 11.8202px;
                    line-height: 14px;
                    color: #fff;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .btn-talk-to-us {
                margin-bottom: 22px;
            }
        }
        .logos {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            .logo-footer {
                margin-right: 5px;
                margin-bottom: 22px;
            }
            .logo-footer-mob {
                display: none;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .centralize {
            flex-direction: column;
            .location {
                width: 100%;
                .title {
                    h1 {
                        margin: 0 4%;
                    }
                }
                .location-state {
                    .first-state {
                        margin-right: 0;
                        margin: 0 4%;
                    }
                }
            }
            .btn-contacts {
                width: 100%;
                justify-content: center;
                align-items: center;
                .btn {
                    width: 65%;
                    margin: 12px 0;
                    span {
                        font-size: 12.0051px;
                    }
                }
                .btn-email {
                    margin-top: 6%;
                }
                .btn-talk-to-us {
                    margin-bottom: 8%;
                }
            }
            .logos {
                width: 100%;
                align-items: center;
                .logo-footer {
                    display: none;
                }
                .logo-footer-mob {
                    display: block;
                }
            }
        }
    }
}