footer {
  min-height: $unit*15;
  background: $footer-color;
}

.footer-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;

  @media (min-width: 500px) and (max-width: 1000px) {
    width: 80%;
  }

  div {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: $small-font-size;
    width: 30%;

    @media (min-width: 725px) and (max-width: 1000px) {
      width: calc(33% - 2px);
    }

    @media (min-width: 500px) and (max-width: 724px) {
      width: calc(50% - 5px);
    }
  }
}

.footer-address {
  padding: $unit*5 $unit $unit*5 $unit*6;

  @media (min-width: 500px) and (max-width: 724px) {
    padding: $unit*5 $unit $unit*2 $unit*6;
  }

  p {
    padding-bottom: $sub-unit;

    &:first-child {
        padding-top: $sub-unit*3;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    height: $unit*4;
    width: $unit*5;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
  }

  &.rj:before {
    background-image: url(../../../static/images/icone_rj.png);
  }

  &.sp:before {
    background-image: url(../../../static/images/icone_sp.png);
  }
}

.footer-address-tel {
  font-family: 'ArialBD', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.footer-contact {
  padding-top: $unit*2;

  a {
    background-color: $background-color;
    margin-bottom: $unit;
    display: block;
    padding: $unit $unit $unit $unit*5;
    height: $unit*4;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      height: $unit*3;
      width: $unit*3;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: $unit;
      top: calc(50% - #{$sub-unit*3});
    }
    &:first-child {
      padding: $sub-unit*3 $unit $unit $unit*5;
      &:before {
        background-image: url(../../../static/images/icone_contato.png);
      }
    }
    &:last-child:before {
      background-image: url(../../../static/images/icone_consultor.png);
    }
    span {
      font-family: 'ArialBD', Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}
