header {
    height: 144px;
    background: antiquewhite;
}

.header-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    //@media (max-width: 480px) {
    //    background-color: red;
    //}
}


.header-logo {
    height: 100%;
    width: 23%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4%;
    h1 {
      height: 100%;
      width: 100%;
      display: inline-block;
      padding: $unit*3 0;
      a img {
          width: 100%;
      }
    }
}

.header-login {
    display: inline-block;
    width: 13%;
    margin-right: 3%;
    p {
      &:first-child {
          font-family: 'ArialBD';
          font-size: $font-size;
      }
      &:last-child {
          font-family: 'Arial';
          font-size: $small-font-size;
      }
    }
}

.header-search {
    display: inline-block;
    width: 36%;
    margin-right: 6%;
}

#headerSearchForm {
    position: relative;

}

#headerSearchInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
  height: 30px;
  padding: 5px 5px 5px 50px;
  background-color: yellow;
  border: none;
  width: 100%;
  font-size: $font-size;
  &::-webkit-input-placeholder {
     color: black;
     opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: black;
     opacity: 1;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: black;
     opacity: 1;
  }

  &:-ms-input-placeholder {
     color: black;
     opacity: 1;
  }
}
#headerSearchButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px;
  height: 30px;
  width: 45px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-image: url(../../../static/images/icone_pesquisa.png);
  background-size: 15px;
  background-repeat: no-repeat;
  color: black;
  background-position: center;
}

.header-skype {
    display: inline-block;
    width: 12%;
    padding-top: 20px;
    text-align: center;
}

.header-languages {
    padding: 0 10%;

    a {
        display: inline-block;
        width: 25%;

        img {
          width: 100%;
        }
    }
}
.header-tel {
    text-decoration: none;
    padding-top: 10px;
    display: block;
    color: aquamarine;
    font-size: $small-font-size;

    &:before {
        content: '';
        background-image: url(../../../static/images/skype.png);
        background-size: contain;
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-left: -28px;
    }
}
