#black_overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#white_content {
		display: none;
		position: fixed;
		top: 10%;
		left: 25%;
		width: 700px;
		height: 420px;
		padding: 30px;
		background-color: white;
		z-index:1002;
}
