.banner {
  background-color: $tertiary;

  &__slide {
    display: inline-flex;
    position: relative;
    padding-top: 15px;
    padding-bottom: 35px;
    width: 100%;
    background-color: transparent;

    @media (min-width: $medium-breakpoint) {
      padding-top: 150px;
      padding-bottom: 165px;
    }
  }

  &__bg {
    display: inline-flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  &__spacer {
    width: 0;

    @media (min-width: $medium-breakpoint) {
      width: 50%;
    }
  }

  &__img {
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    right: 0;

    &:after {
      content: '';
      position: absolute;
      background-color: $secondary;
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    @media (min-width: $medium-breakpoint) {
      width: 50%;
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    &:after {
      @include yellow-bar(15px, 20px, 20px);
      z-index: 2;
      transform-origin: left center;
    }
  }

  &__heading {
    margin: 0;
    font-size: 30px;
    position: relative;
    color: $white;
    z-index: 2;

    @media (min-width: $medium-breakpoint) {
      width: 50%;
      font-size: 45px;
    }
  }

  &__word {
    display: inline-flex;
    overflow: hidden;
  }

  &__span {
    position: relative;
    top: 0;
  }
}

.slick-active.slick-current {
  .banner {
    &__img {
      animation-duration: 0.75s;
      animation-name: fade-in, zoom-in;
      animation-timing-function: ease-in-out;

      @media (min-width: $medium-breakpoint) {
        animation-name: fade-in, zoom-left;
      }
    }

    &__container:after {
      animation-duration: 1.25s;
      animation-name: stretch-x;
      animation-timing-function: ease-in-out;
    }

    &__span {
      animation-duration: 1s;
      animation-name: banner-heading;
      animation-timing-function: ease;
    }
  }
}

.banner .slick-slider {
  .slick-dots {
    height: 30px;
    bottom: 0;
  }

  .slick-prev:before {
    background-image: url('./assets/img/banner/arrow-left.svg');
  }

  .slick-next:before {
    background-image: url('./assets/img/banner/arrow-right.svg');
  }
}